USE [master]
GO
/****** Object:  Database [Invent]    Script Date: 10.10.2024 14:23:12 ******/
CREATE DATABASE [Invent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Invent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Invent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Invent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Invent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Invent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Invent]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 10.10.2024 14:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[id] [int] NOT NULL,
	[Gen_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Main_Table]    Script Date: 10.10.2024 14:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Main_Table](
	[id] [int] NOT NULL,
	[id_role] [int] NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[PassSer] [int] NOT NULL,
	[PassNum] [int] NOT NULL,
	[DateBirth] [date] NOT NULL,
	[LastWel] [date] NULL,
	[id_wel] [int] NULL,
	[id_gen] [int] NOT NULL,
 CONSTRAINT [PK_Main_Table] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10.10.2024 14:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[Role_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wel]    Script Date: 10.10.2024 14:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wel](
	[id] [int] NOT NULL,
	[Wel_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Wel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Gender] ([id], [Gen_Name]) VALUES (1, N'ж')
INSERT [dbo].[Gender] ([id], [Gen_Name]) VALUES (2, N'м')
GO
INSERT [dbo].[Main_Table] ([id], [id_role], [FIO], [email], [login], [password], [phone], [PassSer], [PassNum], [DateBirth], [LastWel], [id_wel], [id_gen]) VALUES (1, 3, N'Акимов Ян Алексеевич', N'gohufreilagrau-3818@yopmail.com', N'akimovya', N'bn069Caj', N'+7(781)-785-58-37', 2367, 558134, CAST(N'1993-07-03' AS Date), CAST(N'2023-02-01' AS Date), 2, 2)
INSERT [dbo].[Main_Table] ([id], [id_role], [FIO], [email], [login], [password], [phone], [PassSer], [PassNum], [DateBirth], [LastWel], [id_wel], [id_gen]) VALUES (2, 2, N'Гончарова Ульяна Львовна', N'xawugosune-1385@yopmail.com', N'goncharovaul', N'pW4qZhL!', N'+7(230)-906-88-15', 7101, 669343, CAST(N'1975-06-22' AS Date), CAST(N'2023-02-02' AS Date), 2, 1)
INSERT [dbo].[Main_Table] ([id], [id_role], [FIO], [email], [login], [password], [phone], [PassSer], [PassNum], [DateBirth], [LastWel], [id_wel], [id_gen]) VALUES (3, 1, N'Анохина Елизавета Матвеевна', N'leuttevitrafo1998@mail.ru', N'anochinaem', N'y6UNmaJg', N'+7(555)-444-83-16', 3455, 719630, CAST(N'1991-08-16' AS Date), CAST(N'2023-02-03' AS Date), 2, 1)
GO
INSERT [dbo].[Role] ([id], [Role_Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([id], [Role_Name]) VALUES (2, N'Исполнитель')
INSERT [dbo].[Role] ([id], [Role_Name]) VALUES (3, N'Менеджер')
GO
INSERT [dbo].[Wel] ([id], [Wel_Name]) VALUES (1, N'Неуспешно')
INSERT [dbo].[Wel] ([id], [Wel_Name]) VALUES (2, N'Успешно')
GO
ALTER TABLE [dbo].[Main_Table]  WITH CHECK ADD  CONSTRAINT [FK_Main_Table_Gender] FOREIGN KEY([id_gen])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[Main_Table] CHECK CONSTRAINT [FK_Main_Table_Gender]
GO
ALTER TABLE [dbo].[Main_Table]  WITH CHECK ADD  CONSTRAINT [FK_Main_Table_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Main_Table] CHECK CONSTRAINT [FK_Main_Table_Role]
GO
ALTER TABLE [dbo].[Main_Table]  WITH CHECK ADD  CONSTRAINT [FK_Main_Table_Wel] FOREIGN KEY([id_wel])
REFERENCES [dbo].[Wel] ([id])
GO
ALTER TABLE [dbo].[Main_Table] CHECK CONSTRAINT [FK_Main_Table_Wel]
GO
USE [master]
GO
